h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./images/tiles.jpg);
    
}

.headingsGreen {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.headingsCoral {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}


.headingsSkyblue {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}


.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

h1, h2, h3, p {
    font-family: Helvetica;
}